.title {
	color: #333;
	padding-bottom: 20px;
	text-align: center;
}
.text {
	text-align: justify;
	line-height: 1.25;
	color: rgb(48, 47, 47);
}
.btn {
	display: block;
	width: 200px;
	margin: 20px auto;
	padding: 8px 3px;
	background-color: #777;
	color: white;
	text-align: center;
	border-radius: 5px;
}
